@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@600&display=swap');





.container-component {
  margin-top: 80px;
}

.panel {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 60vh;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  -webkit-transition: all 700ms ease-in;
  transition: all 700ms ease-in;
}

.panel h3 {
  font-family: 'Montserrat Alternates', sans-serif;
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 0;
  text-shadow: #1f1e1e 0px 0px 10px;

}

.panel.active {
  flex: 5;
}

.panel.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width: 480px) {
  .container {
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5) {
    display: none;
  }
}
.btn-return {
  position: relative;
  font-size: 10px;
  text-transform: uppercase;
  text-decoration: none;
  padding: 0.8em 2em;
  display: inline-block;
  border-radius: 6em;
  transition: all .2s;
  border: none;
  font-family: inherit;
  color: black;
  background-color: rgb(235, 224, 224);
  cursor: pointer;
  box-shadow: #555252 0px 0px 5px;
}

.btn-return:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn-return:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-return::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s;
}

.btn-return::after {
  background-color: #b3a3a3;
}

.btn-return:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}
.custom-tooltip-class .tooltip-inner {
  background-color: #424040;
  font-size: 12px;
  color: #fff;

}